@model IEnumerable<gestion_eventos.Models.Snack>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SnackType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProvidedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SnackType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProvidedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.PersonId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.EventId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SnackId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SnackId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SnackId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
