@model IEnumerable<gestion_eventos.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Entradas</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear Nueva Entrada</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.PurchaseDate)</th>
            <th>@Html.DisplayNameFor(model => model.Event)</th>
            <th>@Html.DisplayNameFor(model => model.Person)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.PurchaseDate)</td>
                <td>@Html.DisplayFor(modelItem => item.Event.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Person.FullName)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TicketId" class="btn btn-primary btn-sm">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.TicketId" class="btn btn-info btn-sm">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.TicketId" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Botón de Exportar PDF -->
<div class="text-end mt-4">
    <a asp-action="ExportarPDF" class="btn btn-primary">
        <i class="bi bi-file-earmark-pdf"></i> Exportar PDF
    </a>
</div>
